input, textarea, keygen, select, button {
	font: inherit;
}

.form-item {
	margin-bottom: 1.0em;

	label {
		font-size: 80%;
		font-weight: 500;
		margin-bottom: 0.3em;
		display: block;
	}
}

// Text inputs
input[type="text"], input[type="password"] {
	width: 100%;
	font-weight: 500;
	height: $formElementHeight;
	padding: 0px 0 0 10px;
	background-color: $lightestGray;
	border: 1px solid $lighterGray;
	box-sizing: border-box;

	&:focus {
		background: white;
	}
}

a.link-button {
	color: $highlightColor;
	font-weight: bold;
}

// All buttons in the system
input[type="submit"], button, input[type="button"], a.button {
	border-radius: $formElementHeight / 2;
	min-width: 100px;
	background: $lighterGray;
	color: $textColor;
	border: none;
	line-height: $formElementHeight;
	display: inline-block;
	padding: 0 10px;
	text-align: center;
	vertical-align: baseline;
	text-shadow: none;
	font-weight: 500;

	&.small {
		font-size: 90%;
		height: 0.9 * $formElementHeight;
		min-width: 80px;
	}

	&.primary {
		background: $highlightColor;
		color: white;

		&:hover {
			background-color: adjust_color($highlightColor, $lightness: +5%);
		}

		&:active {
			background-color: adjust_color($highlightColor, $lightness: - 10%);
		}
	}

	&:hover {
		background-color: adjust_color($lighterGray, $lightness: +5%);
		text-decoration: none;
		cursor: default;
	}

	&:active {
		background-color: adjust_color($lighterGray, $lightness: -10%);
	}
}

figure {
	border: 1px solid $lighterGray;
	border-radius: 5px;
	overflow: auto;
	margin-bottom: $std-bottom-margin;
}
