#example {
	padding-top: 3rem;
}

figure.example {
	padding: 50px 15px 15px;
	margin-bottom: 10px;
	position: relative;

	.row {
		margin-bottom: 15px;
	}

	&:after {
		content: "Example";
		font-size: 12px;
		text-transform: uppercase;
		color: #999999;
		top: 15px;
		left: 15px;
		position: absolute;
	}

	&.light-content {
		background: black;
	}

	pre, code {
		white-space: pre-wrap;
	}
	
	pre {
		margin: 20px -15px -15px;
		
		code {
			padding: 15px;
		}
	}
}

.show-container {
	.container {
		border: 1px solid #8be053;
		background: #dbefce;
	}
}

.show-row {
	.row, [class^="row"] {
		border: 1px solid #f9887f;
		background: #f7d2d0;
	}
}

.show-col {
	[class^="col"] {
		border: 1px solid #3dc0e8;
		background: #ceebf3;
	}
}

.show-p {
	p {
		border: 1px solid #3dc0e8;
		background: #ceebf3; 
	}
}