@import "grids-common";

// Use this mixin to give classes row properties
@mixin make-row($gutter: $gutter-width) {
	margin-left: ($gutter / -2);
	margin-right: ($gutter / -2);
	@include clearfix;
}

// Use this mixin to give classes properties like a column
@mixin make-col($gutter: $gutter-width) {
	min-height: 1px;
	padding-left: ($gutter/2);
	padding-right: ($gutter/2);
	position: relative;
	box-sizing: border-box;
}

@mixin make-col-span($columns) {
	width: percentage($columns/$grid-columns);
}

@mixin make-col-offset($columns) {
	margin-left: percentage($columns/$grid-columns);
}