// A flexbox implementation of grids
@import "mixins/_flex-grids";

// Container elements
.container {	
	@include make-container();
	@include media-breakpoint-above(sm) {
		max-width: 768px; 
	}

	@include media-breakpoint-above(md) { 
		max-width: 960px; 
	}

	@include media-breakpoint-above(lg) {
		max-width: 1160px; 
	}

	@include media-breakpoint-above(xl) {
		max-width: 1340px;
	}	
}

.container-fluid {
	@include make-container();
}

// Column properties
%column-props {
	flex: 1;
	@include make-col();
}
// Adding column properties to all column classes for each size class
@for $i from 1 through $grid-columns {
	@each $size, $val in $grid-sizes {
		.col-#{$size}-#{$i} {
			@extend %column-props;
		}
	}
}
.column {
	@extend %column-props;
}

// Column classes and column offsets for each size class
@each $size, $val in $grid-sizes {
	@include media-breakpoint-above($size) {
		@for $i from 1 through $grid-columns {
			.col-#{$size}-#{$i} {			
				@include make-col-span($i);				
			}

			.col-#{$size}-offset-#{$i} {
				@include make-col-offset($i);
			}
		}

		.visible-#{$size}-block {
			display: block !important;
		}

		.visible-#{$size}-inline {
			display: inline !important;
		}

		.visible-#{$size}-inline-block {
			display: inline-block !important;
		}

		.hidden-#{$size} {
			display: none !important;
		}
	}
}

// We have to hide the size-class visible blocks in all normal situations.
@each $size, $val in $grid-sizes {
	.visible-#{$size}-block {
		display: none;
	}

	.visible-#{$size}-inline {
		display: none;
	}

	.visible-#{$size}-inline-block {
		display: none;
	}
}
// Column alignment classes are not wrapped under the column namespaces
@at-root {
	@include col-alignment();
}
@each $size, $val in $grid-sizes {
	@include media-breakpoint-above($size) {
		@at-root {
			@include col-alignment($size);
		}
	}
}

// Row properties
.row {	
	@include make-row();
}

%row-props {
	@include make-row();
}

@for $i from 1 through 6 {
	.row-#{$i} {
		@extend %row-props;
		flex-grow: $i;
	}
}

@each $size, $val in $grid-sizes {
	@include media-breakpoint-above($size) {
		.row, .row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
			@include row-alignment($size);
		}		
	}
}
