@import "mixins/_grids";

// Container elements
.container {
	margin: 0 auto;
	padding-left: $gutter-width/2;
	padding-right: $gutter-width/2;

	@include media-breakpoint-above(sm) {
		max-width: 768px; 
	}

	@include media-breakpoint-above(md) { 
		max-width: 960px; 
	}

	@include media-breakpoint-above(lg) {
		max-width: 1400px; 
	}

	@include media-breakpoint-above(xl) {
		max-width: 1340px;
	}
}

.container-fluid {
	max-width: 100%;
}

.row {
	@include make-row();
}

%column-props {
	@include make-col();
}

// Adding column properties to all column classes for each size class
@for $i from 1 through $grid-columns {
	@each $size, $val in $grid-sizes {
		.col-#{$size}-#{$i} {
			@extend %column-props;
		}
	}
}

// Column classes and column offsets for each size class
@each $size, $val in $grid-sizes {
	@include media-breakpoint-above($size) {
		%#{$size}-float {
			float: left;
		}
		@for $i from 1 through $grid-columns {
			.col-#{$size}-#{$i} {
				@extend %#{$size}-float;
				@include make-col-span($i);
			}

			.col-#{$size}-offset-#{$i} {
				@include make-col-offset($i);
			}
		}

		.visible-#{$size}-block {
			display: block !important;
		}

		.visible-#{$size}-inline {
			display: inline !important;
		}

		.visible-#{$size}-inline-block {
			display: inline-block !important;
		}

		.hidden-#{$size} {
			display: none !important;
		}
	}
}

// Visibility classes
@each $size, $val in $grid-sizes {
	.visible-#{$size}-block {
		display: none;
	}

	.visible-#{$size}-inline {
		display: none;
	}

	.visible-#{$size}-inline-block {
		display: none;
	}
}
