@import "mixins/typography";

body {
  font-family: $body-font-family, "SF UI Text", "Helvetica Neue", "Open Sans",
    "Segoe UI", sans-serif;
  font-size: $font-base-size;
  font-style: normal;
  font-weight: $body-font-weight;
  line-height: $font-line-height;
  color: $body-text-color;
}

p {
  margin-bottom: $std-bottom-margin;
}

pre {
  font-family: $mono-font-family, "Consolas", "Menlo", monospace;
  font-weight: $mono-font-weight;
  line-height: $mono-line-height;
  font-size: $font-base-size;
  white-space: pre-wrap;
}

// Headers

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family, "SF UI Display", "Helvetica Neue", "Arial",
    sans-serif;
  margin-top: 0.5em;
  line-height: $header-line-height;

  &:first-child {
    margin-top: 0;
  }
}

h1,
.h1 {
  font-size: 2.3rem;
  margin-bottom: 0.8rem;
  font-weight: $header-1-2-font-weight;

  &.loud {
    font-size: 2.6rem;
  }
}

h2,
.h2 {
  font-size: 1.9rem;
  margin-bottom: 0.8rem;
  font-weight: $header-1-2-font-weight;
}

h3,
.h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: $header-3-4-font-weight;
}

h4,
.h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: $header-3-4-font-weight;
}

h5,
.h5 {
  font-size: 1.2rem;
  margin-bottom: 0.35rem;
  font-weight: $header-5-6-font-weight;
}

h6,
.h6 {
  font-size: 1rem;
  margin-bottom: 0.35rem;
  font-weight: $header-5-6-font-weight;
}

// Lists

ul:not(.no-bullet) {
  margin-bottom: $std-bottom-margin;

  li:before {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 3rem;
    margin-left: -3rem;
    padding-right: 1rem;
    text-align: right;
    content: "\2022";
  }

  li {
    margin-left: 4rem;
  }
}

ol:not(.no-bullet) {
  margin-bottom: $std-bottom-margin;
  counter-reset: ordered-list;

  li:before {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 3rem;
    margin-left: -3rem;
    padding-right: 1rem;
    text-align: right;
    counter-increment: ordered-list;
    content: counter(ordered-list) ".";
  }

  li {
    margin-left: 4rem;
  }
}

// Font sizes

.lead {
  @include make-lead();
}

.small {
  @include make-small();
}

// Font colors

.primary {
  color: $body-text-color;
  &.inverted {
    color: $inverted-text-color;
  }
}

.secondary {
  color: $secondary-text-color;
  &.inverted {
    color: $inverted-secondary-text-color;
  }
}

// Font decorations

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

// Alignment classes

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// Links

a {
  color: $link-text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.secondary {
  @include make-secondary-links();
}

hr {
  border: none;
  height: 1px;
}

// Other styles
code,
.code {
  font-family: $mono-font-family, "Consolas", "Menlo", monospace;
  background: $gray-5;
  padding: 2px 0;
}
