// Theme colors for Pulse
$pulseRed: #B7425E;
$pulseOrange: #FF632B;
$pulseYellow: #FFA32B;
$pulseGreen: #44914D;
$pulseTeal: #3C9994;
$pulseBlue: #4A90E2;
$pulsePurple: #876BCE;

$highlightColor: $pulseBlue;
